<div class="serializable">
  <div id="requirement_list" class="list">
    <% form.object.requirements.each do |requirement| %>
      <%= render("admin/requirements/requirement",
            :requirement  => requirement,
            :container    => form.object_name
          ) %>
    <% end %>
  </div>

  <div class="controls">
    <b><%= t(".add_requirement") %></b>

    <% Requirements::Base.types.sort_by{|type| t("requirements.#{type.requirement_name}.name") }.each do |type| %>
      <%= link_to_remote(t("requirements.#{type.requirement_name}.name"),
            :url    => new_admin_requirement_path(:type => type.requirement_name, :container => form.object_name),
            :method => :get,
            :update => :result
          ) %>
    <% end %>
  </div>
</div>

<% dom_ready do %>
  SerializableList.init('#requirement_list', '<%= form.object_name %>[requirements]');
<% end %>
