<div class="controls">
  <%= link_to(t(".new"), new_admin_item_path) %>
  <%= link_to(t(".balance"), balance_admin_items_path) %>
  <%= link_to(t(".groups"), admin_item_groups_path) %>
  <%= link_to(t(".sets"), admin_item_sets_path) %>
</div>
