<tr>
  <td class="picture"><%= asset_image_tag(:mercenary) %></td>
  <td class="name"><%= relation.name %></td>
  <td class="level">
    <span class="label"><%= Character.human_attribute_name("level") %></span>
    <span class="value"><%= relation.level %></span>
  </td>
  <td></td>
</tr>
