<div class="controls">
  <%= link_to(t(".new"), new_admin_mission_path) %>

  <%= link_to(t(".groups"), admin_mission_groups_path) %>
  <%#= link_to(t(".balance"), balance_admin_missions_path) %>
</div>
