<div class="actor">
  <%= character_picture_link(news.character) %>
</div>

<% if news.monster.image? %>
  <div class="subject">
    <%= image_tag(news.monster.image.url(:icon)) %>
  </div>
<% end %>

<div class="description">
  <%= t(news.monster_fight.summoner? ? '.text.summoned' : '.text.joined',
        :actor    => character_name_link(news.character, {}, {:useyou => true, :capitalize => true}),
        :monster => content_tag(:strong, news.monster.name)
      ).html_safe %>
</div>

<div class="controls">
  <%= link_to(button(:attack), monster_path(news.monster), :class => 'attack button') if news.monster.progress? %>
</div>


