<div class="controls">
  <%= link_to(t(".dashboard"), admin_statistics_path) %>
  <%= link_to(t(".users"), user_admin_statistics_path) %>
  <%= link_to(t(".vip_money"), vip_money_admin_statistics_path) %>
</div>
